.main {
  background-image: url("../img/king of coins.jpg");
  background-color: #000000; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  min-height: 1000px;
}

.treasure-pot {
  position: absolute;
  left: 90px;
  bottom: 59px;
  padding-left: 20px;
}

.playerAction {
  position: absolute;
  top: 70%;
  left: 45%;
  max-width: 300px;

}

.buttonClass {
  font-size: 24px;
  font-family: monospace;
  min-width: 260px;
  height: 65px;
  padding: 14px 50px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;

}

.gameResult {
  min-width: 260px;
  position: absolute; /* or absolute */
  top: 33%;
  left: 23%;
}

.gameSpinner {
  position: absolute;
  top: 17%;
  left: 42%;
}

p {
  font-family: Monospaced;
  font-size: 100px;
  color: #67ff81;
}

h1.treasure-pot {
  padding-left: 10px;
}

h1 {
  color: white;
}

.boxClass {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 600px) {
  .treasure-pot {
    position: absolute;
    left: 36%;
    bottom: -259px;

  }

  h1.treasure-pot {
    padding-left: 10px;
    font-family: Monospaced;
    color: white;
  }

  .gameSpinner {
    position: absolute;
    top: 26%;
    left: 3%;
  }

  .playerAction {
    top: 95%;
    left: 12%;
  }

  p {
    top: 25%;
    left: 28%;
    font-size: 30px;
  }

  h1 {
    font-size: 32px;
    font-family: Monospaced;
    color: white;
  }

  .buttonClass {
    font-size: 24px;
    font-family: monospace;
    background-color: white;
    min-width: 160px;
    height: 65px;
    padding: 20px 50px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 40px;
    background-image: url("/src/public/img/Cap'n Robbys.png");
  }
}
